POSTGRES_USER=django_user
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=django
DB_HOST=db
DB_PORT=5432

SECRET_KEY='django-insecure-b9vs(2tv$_2#20#-x0)c6_c6&-$5rbvs5bsn1f&*fl&$hawz#7'
IP=158.160.2.20
DOMAIN=https://foodgramio.zapto.org

